.footer .footer-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 0 0 0 !important;
	font-size: 16px;
}

.footer .footer-inner .copyright {
	color: #636d78;
}

.footer .footer-inner .social-links li:not(:last-child) {
	margin-right: 10px;
}

.footer .footer-inner .social-links li a {
	text-decoration: none;
}
