body {
	color: #3a3f46;
}

body .main-content {
	max-width: 800px;
	margin: auto;
}

body blockquote {
	color: #6a737d;
	padding: 2px 16px;
	border-left: 4px solid#dfe2e5;
	margin: 16px 0;
	font-size: 16px;
}

body blockquote p {
	margin: 0;
	font-size: 16px;
}

a.anchor-header {
	margin-left: -30px;
	padding-right: 10px;
	opacity: 0;
	visibility: hidden;
	height: 0;
}

hr {
	border: 0 none;
	color: #cccccc;
	height: 4px;
	padding: 0;
}

ul,
ol {
	padding: 0;
}

dl dt {
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	padding: 0;
	margin: 15px 0 5px;
}

dl dt:first-child {
	padding: 0;
}

dl dt > :first-child {
	margin-top: 0;
}

dl dt > :last-child {
	margin-bottom: 0;
}

dl dd {
	margin: 0 0 15px;
	padding: 0 15px;
}

dl dd > :first-child {
	margin-top: 0;
}

dl dd > :last-child {
	margin-bottom: 0;
}

table {
	padding: 0;
}

table tr {
	border-top: 1px solid #cccccc;
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

table tr th {
	font-weight: bold;
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr td {
	border: 1px solid #cccccc;
	text-align: left;
	margin: 0;
	padding: 6px 13px;
}

table tr th :first-child,
table tr td :first-child {
	margin-top: 0;
}

table tr th :last-child,
table tr td :last-child {
	margin-bottom: 0;
}

img {
	max-width: 100%;
}

a.anchor-header svg {
	fill: currentColor;
}

h1:hover a.anchor-header,
h2:hover a.anchor-header,
h3:hover a.anchor-header,
h4:hover a.anchor-header,
h5:hover a.anchor-header,
h6:hover a.anchor-header {
	opacity: 1;
	visibility: visible;
	height: inherit;
}
