.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo,
.navbar .logo h1 {
	font-size: 22px;
	font-weight: 500;
}

.navbar a {
	text-decoration: none;
}

.navbar .nav-links a {
	font-size: 16px;
}

.navbar ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar li:not(:last-child) {
	margin-right: 10px;
}

@media screen and (max-width: 576px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}

	.navbar ul {
		width: 100%;
	}
}
